
/*
*
*	Particular text formatting
*
*/

.footer-legals-notes {
	font-size:0.8em;
	line-height: 90%;
	margin-bottom: -5%;
}


.night-hotel {
  text-shadow: 0 0 5px rgb(255,255,255) , 
			  0 0 10px rgb(255,255,255) , 
			  0 0 15px rgb(255,255,255) , 
			  0 0 20px rgba(0,0,0,1) , 
			  0 0 35px rgba(0,0,0,1) , 
			  0 0 40px rgba(0,0,0,1) , 
			  0 0 50px rgba(0,0,0,1) , 
			  0 0 75px rgba(0,0,0,1) ;
}